:root {
  --container: 1140px;
  --fz: 18px;
  --ff: "Poppins";
  --text: hsl(257, 7%, 63%);
  --title: hsl(260, 8%, 14%);
  --primary: hsl(180, 66%, 49%);
  --dark: hsl(257, 27%, 26%);
  --accent: hsl(0, 87%, 67%);
  --light: hsl(225, 33%, 95%);
  --medium: hsl(257, 7%, 63%);
  --medium-dark: hsl(255, 11%, 22%);
}

*,
:before,
:after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  min-height: 100%;
}

body {
  position: relative;
  min-height: 100%;
  overflow: auto;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  word-wrap: break-word;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: subpixel-antialiased !important;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-overflow-scrolling: touch;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}

video,
audio,
canvas {
  display: inline-block;
}

span {
  display: inline-block;
}

a,
input,
button,
textarea,
optgroup,
select,
fieldset,
figure,
legend,
address {
  font: inherit;
  color: inherit;
  line-height: inherit;
  text-transform: inherit;
  text-shadow: inherit;
  border: none;
  background: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-radius: 0;
  margin: 0;
  padding: 0;
}

a,
button,
[type=button],
[type=submit] {
  -webkit-transition: color 0.25s, background 0.25s, opacity 0.25s;
  -o-transition: color 0.25s, background 0.25s, opacity 0.25s;
  transition: color 0.25s, background 0.25s, opacity 0.25s;
}

a {
  cursor: pointer;
  text-decoration: none;
  -webkit-text-decoration-skip: none;
}

button {
  overflow: visible;
  -webkit-font-smoothing: inherit;
  letter-spacing: inherit;
}

p {
  margin: 0;
}

b,
strong {
  font-weight: 700;
}

img,
svg,
embed,
object,
iframe,
video,
audio,
canvas {
  vertical-align: middle;
  max-width: 100%;
  height: auto;
  border: 0;
}

img {
  image-rendering: optimizeQuality;
}

svg {
  color: inherit;
}
svg:not(:root) {
  overflow: hidden;
}

progress {
  vertical-align: baseline;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-rendering: optimizeLegibility;
  font: inherit;
  color: inherit;
  margin: 0;
}

ul,
ol,
menu {
  margin: 0;
  padding: 0;
  list-style: none;
}

input,
select,
button,
button > *,
a > * {
  display: inline-block;
  vertical-align: middle;
}

button,
label,
select,
summary,
[type=button],
[type=submit],
[type=reset],
[type=checkbox],
[type=radio],
[type=range] {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
}

[type=button],
[type=submit],
[type=search],
[type=radio],
[type=range],
::-webkit-search-cancel-button,
::-webkit-search-decoration,
::-webkit-outer-spin-button,
::-webkit-inner-spin-button,
::-webkit-slider-thumb {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

::-webkit-contacts-auto-fill-button,
::-webkit-credentials-auto-fill-button {
  visibility: hidden;
  pointer-events: none;
  position: absolute;
  right: 0;
}

:-webkit-autofill {
  -webkit-box-shadow: inset 0 0 0 1000px #fff;
          box-shadow: inset 0 0 0 1000px #fff;
}

::-webkit-details-marker {
  display: none;
}

[type=radio] {
  -webkit-appearance: radio;
}

[type=number] {
  -moz-appearance: textfield;
}

::-ms-clear,
::-ms-reveal {
  display: none;
}

input,
textarea {
  width: 100%;
}

input {
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}

textarea {
  overflow: auto;
  resize: none;
}

:active,
:hover,
:focus {
  outline: 0;
  outline-offset: 0;
}

:disabled {
  pointer-events: none;
}

::-moz-focus-outer,
::-moz-focus-inner {
  border: 0;
  padding: 0;
}

::-moz-placeholder {
  opacity: 1;
}

::placeholder,
::-moz-placeholder {
  opacity: 1;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

td,
th {
  padding: 0;
  text-align: center;
}

article p:not(:empty) {
  margin-top: 0.7em;
  margin-bottom: 0.7em;
}
article img,
article embed,
article object,
article iframe,
article video {
  display: block;
  margin: auto;
}
article span {
  display: inline;
}
article ul,
article ol,
article menu {
  margin-top: 0.7em;
  margin-bottom: 0.7em;
}
article ul ul,
article ul ol,
article ul menu,
article ol ul,
article ol ol,
article ol menu,
article menu ul,
article menu ol,
article menu menu {
  margin: 0;
  padding-left: 1.3em;
}
article ul > li:before,
article ol > li:before,
article menu > li:before {
  margin-right: 0.7em;
}
article ul > li p,
article ol > li p,
article menu > li p {
  display: inline;
}

/* poppins-regular - latin */
@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/poppins-v20-latin-regular.woff2") format("woff2"), url("../fonts/poppins-v20-latin-regular.woff") format("woff");
}
/* poppins-500 - latin */
@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/poppins-v20-latin-500.woff2") format("woff2"), url("../fonts/poppins-v20-latin-500.woff") format("woff");
}
/* poppins-700 - latin */
@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/poppins-v20-latin-700.woff2") format("woff2"), url("../fonts/poppins-v20-latin-700.woff") format("woff");
}
html {
  font-family: var(--ff);
  color: var(--text);
  font-size: 16px;
}
@media (min-width: 320px) {
  html {
    font-size: 20px;
    font-size: calc(0.0012658228 * 100vw + 15.5949367089px);
  }
}
@media (min-width: 1900px) {
  html {
    font-size: 18px;
  }
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
body.no-scroll {
  overflow: hidden;
}

.wrapper {
  position: relative;
  min-width: 320px;
  min-height: 100vh;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  overflow: hidden;
  background-color: var(--light);
}

.footer {
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
}

a {
  display: inline-block;
  vertical-align: middle;
}

img {
  display: inline-block;
}

.container {
  max-width: var(--container);
  margin: 0 auto;
  padding: 0 20px;
}

.hidden {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
}

.center-text {
  text-align: center;
}

/*title sistem*/
.section__title {
  margin-bottom: 0.5em;
  font-size: 25px;
  font-weight: 700;
  line-height: 1.2;
  color: var(--title);
}
@media (min-width: 320px) {
  .section__title {
    font-size: 20px;
    font-size: calc(0.0063291139 * 100vw + 22.9746835443px);
  }
}
@media (min-width: 1900px) {
  .section__title {
    font-size: 35px;
  }
}

.section__descr {
  line-height: 1.75;
}

/*header*/
.header {
  position: relative;
  padding-top: 2.5em;
  background-color: #fff;
}

.logo {
  color: var(--title);
  margin-right: 2.5%;
}

.header__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/*nav*/
.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
@media (max-width: 750px) {
  .nav {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-100%);
        -ms-transform: translateX(-50%) translateY(-100%);
            transform: translateX(-50%) translateY(-100%);
    opacity: 0;
    visibility: hidden;
    top: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    text-align: center;
    width: 90%;
    max-width: 420px;
    padding: 1.5em 1.5em 2.5em 1.5em;
    border-radius: 0.8em;
    margin-top: 1.5em;
    background-color: var(--dark);
    -webkit-transition: opacity 0.2s linear, -webkit-transform 0.5s linear;
    transition: opacity 0.2s linear, -webkit-transform 0.5s linear;
    -o-transition: opacity 0.2s linear, transform 0.5s linear;
    transition: opacity 0.2s linear, transform 0.5s linear;
    transition: opacity 0.2s linear, transform 0.5s linear, -webkit-transform 0.5s linear;
  }
  .nav.open {
    -webkit-transform: translateX(-50%) translateY(0);
        -ms-transform: translateX(-50%) translateY(0);
            transform: translateX(-50%) translateY(0);
    opacity: 1;
    visibility: visible;
  }
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.nav__list li a {
  padding: 1em;
  font-size: 15px;
  font-weight: 700;
}
@media (max-width: 750px) {
  .nav__list li a {
    font-size: 1.1em;
    padding: 0.8em;
  }
}
.nav__list li:hover a {
  color: var(--title);
}
@media (max-width: 750px) {
  .nav__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    padding-bottom: 1.2em;
    border-bottom: 1px solid var(--text);
  }
}

.nav__login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.nav__login li + li {
  margin-left: 0.95em;
}
@media (max-width: 750px) {
  .nav__login {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    padding-top: 1em;
  }
  .nav__login li + li {
    margin-top: 1em;
    margin-left: 0;
  }
  .nav__login .btn {
    width: 100%;
    font-size: 1.1em;
  }
}

/*hero*/
.hero {
  background-color: #fff;
}
.hero .container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 55% 70%;
  grid-template-columns: 55% 70%;
}
@media (max-width: 650px) {
  .hero .container {
    -ms-grid-columns: 100%;
    grid-template-columns: 100%;
  }
}

.hero__title {
  font-size: 40px;
  font-weight: 700;
  line-height: 1.1;
  color: var(--title);
}
@media (min-width: 320px) {
  .hero__title {
    font-size: 18px;
    font-size: calc(0.0240506329 * 100vw + 32.3037974684px);
  }
}
@media (min-width: 1900px) {
  .hero__title {
    font-size: 78px;
  }
}

.hero__caption {
  font-size: 1.12em;
}

.hero__pic {
  padding-left: 5%;
}
@media (max-width: 650px) {
  .hero__pic {
    padding-left: 0;
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
}
.hero__pic img {
  display: block;
  width: 100%;
  height: auto;
}

/*app*/
/*result*/
.result__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.result__cell {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
}
.result__cell--wild {
  -webkit-box-flex: 2;
      -ms-flex: 2 1 auto;
          flex: 2 1 auto;
}

.result__original-link,
.result__shorter-link {
  font-size: 1.12em;
  font-weight: 500;
}

.result__original-link {
  color: var(--dark);
}

.result__shorter-link {
  color: var(--primary);
}

/*statistic*/
.statistics__list {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  margin-top: 5.5em;
}
.statistics__list:before {
  content: "";
  position: absolute;
  top: calc(50% - 8px);
  left: 0;
  height: 10px;
  width: 100%;
  background-color: var(--primary);
}
@media (max-width: 700px) {
  .statistics__list:before {
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    width: 10px;
    height: 100%;
  }
}

.statistics__item {
  font-size: 16px;
  position: relative;
  padding: 5.5em 2em 3.5em 2em;
  border-radius: 0.5em;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 32%;
          flex: 0 1 32%;
  background-color: #fff;
}
.statistics__item:nth-child(2) {
  margin-top: 2.5em;
}
.statistics__item:nth-child(3) {
  margin-top: 5em;
}
@media (max-width: 700px) {
  .statistics__item {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    padding: 5em 2em 3.5em 2em;
    text-align: center;
  }
  .statistics__item:nth-child(2), .statistics__item:nth-child(3) {
    margin-top: 6em;
  }
}

.statistics__icon {
  position: absolute;
  top: -2.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 85px;
  height: 85px;
  border-radius: 100%;
  background-color: var(--dark);
}
.statistics__icon svg,
.statistics__icon img {
  width: 40px;
  height: 40px;
  margin: auto;
}
@media (max-width: 700px) {
  .statistics__icon {
    left: 50%;
    -webkit-transform: translate(-50%);
        -ms-transform: translate(-50%);
            transform: translate(-50%);
  }
}

.statistics__caption {
  margin-bottom: 0.8em;
  font-size: 1.12em;
  font-weight: 700;
  line-height: 1.5;
  color: var(--title);
}

.statistics__descr {
  font-size: 0.85em;
}
@media (max-width: 600px) {
  .statistics__descr {
    font-size: 15px;
  }
}

/*footer*/
.footer {
  color: #fff;
  font-size: 0.85em;
  background-color: var(--medium-dark);
}
.footer .logo {
  color: #fff;
}

.footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer__col {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.footer__col--wide {
  -webkit-box-flex: 2;
      -ms-flex: 2 1 auto;
          flex: 2 1 auto;
}
@media (max-width: 750px) {
  .footer__col {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
}

.footer__list li a {
  color: var(--light);
}
.footer__list li:hover a {
  color: var(--primary);
}

/**/
/*touch*/
.touch__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/*form*/
.form__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.btn {
  padding: 0.8em 1.3em;
  border-radius: 0.35em;
  font-size: 0.83em;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  background-color: var(--primary);
}
.btn--round {
  border-radius: 2em;
}
.btn--clean {
  background-color: transparent;
  color: var(--bg);
}
.btn--clean:hover {
  --bg: var(--text);
}
.btn-lg {
  padding: 0.8em 1.6em;
  font-size: 1.12em;
}
.btn.active {
  background-color: var(--dark);
}
.btn:hover {
  opacity: 0.7;
}

.menu-trigger {
  position: relative;
  display: none;
  width: 40px;
  height: 42px;
  padding: 20px 8px;
  background-clip: content-box;
  background-color: var(--text);
  text-indent: -1000px;
  overflow: hidden;
  z-index: 2;
  -webkit-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}
.menu-trigger:before, .menu-trigger:after {
  content: "";
  position: absolute;
  top: calc(50% - 1px);
  left: 8px;
  right: 8px;
  height: 2px;
  background-color: var(--text);
  -webkit-transform-origin: center center;
      -ms-transform-origin: center center;
          transform-origin: center center;
  -webkit-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}
.menu-trigger:before {
  -webkit-transform: translateY(-8px);
      -ms-transform: translateY(-8px);
          transform: translateY(-8px);
}
.menu-trigger:after {
  -webkit-transform: translateY(8px);
      -ms-transform: translateY(8px);
          transform: translateY(8px);
}
.menu-trigger.open {
  background-color: transparent;
}
.menu-trigger.open:before {
  -webkit-transform: translateY(0) rotate(45deg);
      -ms-transform: translateY(0) rotate(45deg);
          transform: translateY(0) rotate(45deg);
}
.menu-trigger.open:after {
  -webkit-transform: translateY(0) rotate(-45deg);
      -ms-transform: translateY(0) rotate(-45deg);
          transform: translateY(0) rotate(-45deg);
}
@media (max-width: 750px) {
  .menu-trigger {
    display: block;
  }
}
/*# sourceMappingURL=main.css.map */