/*footer*/
.footer {
 padding: 4.7em 0;
 color: #fff;
 font-size: 0.85em;
 background-color: var(--medium-dark);
 .logo {
  color: #fff;
  margin-right: 0;
 }
 @include bp(700px) {
  padding: 4.5em 0;
  text-align: center;
 }
}

.footer__row {
 display: grid;
 grid-template-columns: 2fr 3fr 1fr;
 @include bp(800px) {
  grid-template-columns: 1fr;
 }
}

.footer__logo {
 @include bp(800px) {
  margin-bottom: 3em;
 }
}

.footer__menu-list {
 @include row(jsb, as);
}

.footer__menu {
 @include bp(800px) {
  margin-bottom: 3em;
 }
}

.footer__menu-item {
 flex: 0 1 30%;
 @include bp(700px) {
  flex: 1 1 100%;
  margin-bottom: 3em;
  &:last-child {
   margin-bottom: 0;
  }
 }
}

.footer__list {
 li {
  a {
   display: block;
   padding: 0.35em 0;
   color: var(--light);
  }
  &:hover {
   a {
    color: var(--primary);
   }
  }
 }
}

.footer__caption {
 margin-bottom: 1.5em;
 font-weight: 700;
}
