/*footer*/
.footer {
 padding: 4% 0;
 color: #fff;
 font-size: 0.85em;
 background-color: var(--medium-dark);
 .logo {
  color: #fff;
 }
}

.footer__row {
 display: flex;
 flex-wrap: wrap;
}

.footer__col {
 flex: 1 1 auto;
 &--wide {
  flex: 1.3 1 auto;
 }
 @include bp(750px) {
  flex: 1 1 100%;
 }
}

.footer__list {
 li {
  a {
   padding: 0.25em 0;
   color: var(--light);
  }
  &:hover {
   a {
    color: var(--primary);
   }
  }
 }
}

.footer__caption {
 margin-bottom: 1.5em;
 font-weight: 700;
}
