/*hero*/

.hero {
 padding: 3% 0 5% 0;
 background-color: #fff;
 .container {
  display: grid;
  grid-template-columns: 55% 74%;
  align-items: center;
 }
 @include bp(700px) {
  padding: 6% 0 13% 0;
  text-align: center;
  .container {
   grid-template-columns: 100%;
   padding: 3% 20px 15% 20px;
  }
 }
}

.hero__title {
 margin-bottom: 0.2em;
 @include fFS(40px, 78px, 320px, 1900px, 18px);
 font-weight: 700;
 line-height: 1.18;
 color: var(--title);
}

.hero__caption {
 margin-bottom: 2.5em;
 font-size: 1.12em;
 // line-height: 1.1;
}

.hero__pic {
 padding-left: 6%;
 @include bp(650px) {
  margin-right: -53%;
  padding-left: 0;
  margin-bottom: 2em;
  order: -1;
 }
 img {
  display: block;
  width: 100%;
  height: auto;
 }
}

/*app*/

.app {
 margin-top: -3.5%;
}

/*result*/

.result__container {
 display: grid;
 grid-template-columns: 2fr 1fr;
 align-items: center;
 @include bp(700px) {
  grid-template-columns: 1fr;
 }
}

.result__item {
 padding: 1em 1.5em;
 border-radius: 0.3em;
 margin-bottom: 1em;
 background-color: #fff;
 @include bp(700px) {
  padding: 1em;
  margin-bottom: 2em;
 }
}

.result__link {
 position: relative;
 min-width: 1px;
 @include bp(700px) {
  padding-bottom: 1em;
  &:after {
   content: "";
   position: absolute;
   top: 100%;
   left: -1.5em;
   right: -1.5em;
   height: 1px;
   background-color: var(--light);
  }
 }
}

.result__original-link {
 display: block;
 width: 100%;
 padding-right: 1em;
 white-space: nowrap;
 overflow: hidden;
 text-overflow: ellipsis;
 color: var(--dark);
 @include bp(700px) {
  padding-right: 0;
  line-height: 1;
 }
}

.result__shorter-link {
 padding-right: 0.5em;
 font-weight: 500;
 color: var(--primary);
 @include bp(700px) {
  padding-right: 0;
  padding-bottom: 1em;
  line-height: 1;
 }
}

.result__action {
 display: grid;
 grid-template-columns: 3fr 1fr;
 align-items: center;
 @include bp(700px) {
  grid-template-columns: 1fr;
  padding-top: 1em;
  .btn {
   font-size: 16px;
  }
 }
}

/*statistic*/
.statistics {
 padding: 7% 0;
 @include bp(700px) {
  padding: 20% 0;
 }
}

.statistics__list {
 position: relative;
 display: flex;
 flex-wrap: wrap;
 // display: grid;
 // grid-template-columns: repeat(auto-fill, minmax(200px, 350px));
 justify-content: space-between;
 align-items: start;
 margin-top: 5.5em;
 &:before {
  content: "";
  position: absolute;
  top: calc(50% - 8px);
  left: 0;
  height: 10px;
  width: 100%;
  background-color: var(--primary);
  @include bp(700px) {
   height: 100%;
   top: 0;
   left: 50%;
   transform: translateX(-50%);
   width: 10px;
   height: 100%;
  }
 }
}

.statistics__item {
 font-size: 16px;
 position: relative;
 padding: 5.5em 2em 3.5em 2em;
 border-radius: 0.5em;
 flex: 0 1 32%;
 background-color: #fff;
 &:nth-child(2) {
  margin-top: 2.5em;
 }
 &:nth-child(3) {
  margin-top: 5em;
 }
 @include bp(700px) {
  flex: 1 1 100%;
  padding: 5em 2em 3.5em 2em;
  text-align: center;
  &:nth-child(2),
  &:nth-child(3) {
   margin-top: 6em;
  }
 }
}

.statistics__icon {
 position: absolute;
 top: -2.5em;
 display: flex;
 width: 85px;
 height: 85px;
 // margin: -6em 0 2em 0;
 border-radius: 100%;
 background-color: var(--dark);
 svg,
 img {
  width: 40px;
  height: 40px;
  margin: auto;
 }
 @include bp(700px) {
  left: 50%;
  transform: translate(-50%);
  // margin: -6em auto 2em auto;
 }
}

.statistics__caption {
 margin-bottom: 0.8em;
 font-size: 1.12em;
 font-weight: 700;
 line-height: 1.5;
 color: var(--title);
}

.statistics__descr {
 font-size: 0.85em;
 @include bp(600px) {
  font-size: 15px;
 }
}

/*boost*/
.boost {
 padding: 3.4em 0;
 @include bp(700px) {
  padding: 6.5em 0;
 }
 .section__title {
  margin-bottom: 1em;
 }
}
