/*hero*/

.hero {
 background-color: #fff;
 .container {
  display: grid;
  grid-template-columns: 55% 70%;
  @include bp(650px) {
   grid-template-columns: 100%;
  }
 }
}

.hero__title {
 @include fFS(40px, 78px, 320px, 1900px, 18px);
 font-weight: 700;
 line-height: 1.1;
 color: var(--title);
}

.hero__caption {
 font-size: 1.12em;
 // line-height: 1.1;
}

.hero__content {
}

.hero__pic {
 padding-left: 5%;
 @include bp(650px) {
  padding-left: 0;
  order: -1;
 }
 img {
  display: block;
  width: 100%;
  height: auto;
 }
}

/*app*/

/*result*/

.result__row {
 display: flex;
 justify-content: space-between;
 align-items: center;
}

.result__cell {
 flex: 0 1 auto;
 &--wild {
  flex: 2 1 auto;
 }
}

.result__original-link,
.result__shorter-link {
 font-size: 1.12em;
 font-weight: 500;
}

.result__original-link {
 color: var(--dark);
}

.result__shorter-link {
 color: var(--primary);
}

/*statistic*/
.statistics {
 padding: 6.5% 0;
 @include bp(700px) {
  padding: 20% 0;
 }
}

.statistics__list {
 position: relative;
 display: flex;
 flex-wrap: wrap;
 // display: grid;
 // grid-template-columns: repeat(auto-fill, minmax(200px, 350px));
 justify-content: space-between;
 align-items: start;
 margin-top: 5.5em;
 &:before {
  content: "";
  position: absolute;
  top: calc(50% - 8px);
  left: 0;
  height: 10px;
  width: 100%;
  background-color: var(--primary);
  @include bp(700px) {
   height: 100%;
   top: 0;
   left: 50%;
   transform: translateX(-50%);
   width: 10px;
   height: 100%;
  }
 }
}

.statistics__item {
 font-size: 16px;
 position: relative;
 padding: 5.5em 2em 3.5em 2em;
 border-radius: 0.5em;
 flex: 0 1 32%;
 background-color: #fff;
 &:nth-child(2) {
  margin-top: 2.5em;
 }
 &:nth-child(3) {
  margin-top: 5em;
 }
 @include bp(700px) {
  flex: 1 1 100%;
  padding: 5em 2em 3.5em 2em;
  text-align: center;
  &:nth-child(2),
  &:nth-child(3) {
   margin-top: 6em;
  }
 }
}

.statistics__icon {
 position: absolute;
 top: -2.5em;
 display: flex;
 width: 85px;
 height: 85px;
 // margin: -6em 0 2em 0;
 border-radius: 100%;
 background-color: var(--dark);
 svg,
 img {
  width: 40px;
  height: 40px;
  margin: auto;
 }
 @include bp(700px) {
  left: 50%;
  transform: translate(-50%);
  // margin: -6em auto 2em auto;
 }
}

.statistics__caption {
 margin-bottom: 0.8em;
 font-size: 1.12em;
 font-weight: 700;
 line-height: 1.5;
 color: var(--title);
}

.statistics__descr {
 font-size: 0.85em;
 @include bp(600px) {
  font-size: 15px;
 }
}

/*boost*/
.boost {
 padding: 3.5% 0;
 @include bp(700px) {
  padding: 20% 0;
 }
 .section__title {
  margin-bottom: 1em;
 }
}
