html {
  font-family: var(--ff);
  color: var(--text);
  //  font-size: var(--fz);
  @include fFS(16px, 18px, 320px, 1900px, 20px);
  // height: -webkit-fill-available;
}

body {
  display: flex;
  flex-direction: column;
  &.no-scroll {
    overflow: hidden;
  }
}

.wrapper {
  position: relative;
  min-width: 320px;
  min-height: 100vh;
  // height: 100%;
  flex-grow: 1;
  overflow: hidden;
  background-color: var(--light);
}

.footer {
  flex-grow: 0;
}

a {
  display: inline-block;
  vertical-align: middle;
}

img {
  display: inline-block;
}

.container {
  max-width: var(--container);
  margin: 0 auto;
  padding: 0 20px;
}

/*title sistem*/
.section__title {
  margin-bottom: 0.5em;
  @include fFS(25px, 35px, 320px, 1900px, 20px);
  font-weight: 700;
  line-height: 1.2;
  color: var(--title);
}
.section__descr {
  line-height: 1.75;
}

/*helpers*/

.hidden {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
}

.center-text {
  text-align: center;
}

.light {
  color: #fff;
}
