:root {
 --container: 1150px;
 --fz: 18px;
 --ff: "Poppins";
 --text: hsl(257, 7%, 63%);
 --title: hsl(260, 8%, 14%);
 --primary: hsl(180, 66%, 49%);
 --dark: hsl(257, 27%, 26%);
 --accent: hsl(0, 87%, 67%);

 // --light: hsl(0, 0%, 75%);
 --light: hsl(225, 33%, 95%);
 --medium: hsl(257, 7%, 63%);
 --medium-dark: hsl(255, 11%, 22%);
}
