.btn {
 --bg: var(--primary);
 padding: 1em 1.6em;
 border-radius: 0.35em;
 font-size: 0.83em;
 font-weight: 700;
 line-height: 1;
 color: #fff;
 background-color: var(--bg);
 &--round {
  border-radius: 2em;
 }
 &--clean {
  --bg: var(--text);
  background-color: transparent;
  color: var(--bg);
  &:hover {
   --bg: var(--title);
  }
 }
 &-lg {
  padding: 0.8em 1.6em;
  font-size: 1.12em;
 }
 &.active {
  --bg: var(--dark);
  background-color: var(--bg);
 }
 &:hover {
  opacity: 0.7;
 }
}

.menu-trigger {
 display: none;
 @include bp(750px) {
  display: block;
 }
}
